<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sekolah Pemirintahan Desa</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="vapp">
        
        <section1>  
            <div class="overview">
              <div class="foto">
                  <gambar-display v-show="display == 'gambar_1'"><img src="https://cdn.medcom.id/dynamic/content/2022/09/06/1473478/ITwmsCRkU3.JPG?w=1024" ></gambar-display>
                  <gambar-display v-show="display == 'gambar_2'" ><img src="https://thumb.viva.co.id/media/frontend/thumbs3/2021/06/28/60d9fc9802ad9-sekelompok-mahasiswa-berdemonstrasi-di-universitas-mataram-nusa-tenggara-barat_1265_711.jpg" ></gambar-display>
              </div>
            </div>  
        </section1>

        <section2>
          <div class="overview">
            <div class="foto">
              <gambar-display v-if="display === 'gambar_1'">
                <img src="https://cdn.medcom.id/dynamic/content/2022/09/06/1473478/ITwmsCRkU3.JPG?w=1024">
              </gambar-display>
              <gambar-display v-if="display === 'gambar_2'">
                <img src="https://thumb.viva.co.id/media/frontend/thumbs3/2021/06/28/60d9fc9802ad9-sekelompok-mahasiswa-berdemonstrasi-di-universitas-mataram-nusa-tenggara-barat_1265_711.jpg">
              </gambar-display>
              
              <ganti-gambar v-on:toggle="toggleBox"></ganti-gambar>
            </div>
          </div>
        </section2>
       
      </div>
        

    <script>


        Vue.component('GantiGambar', {
            template: "<button class=\"button\" v-on:click=\"$emit('toggle')\">Ganti Gambar</button>"
        })


        const vueApp = new Vue({
            el: '#vapp',
            data: { 
             display: 'gambar_1',

             
            },
            methods: {
              toggleBox() {
                this.display == 'gambar_1' ? this.display = 'gambar_2' : this.display = 'gambar_1'
              },

              
            }
          })
    </script>
</body>

</script>
</html>